<div class="dimmed_nav"></div>
<nav class="c-nav">
  <ul class="c-list-nav">
    <!-- 소개 -->
    <li><a href="#intro"><span>소개</span></a></li>
    <!-- 아이콘 -->
    <li><a href="#icon"><span>아이콘</span></a></li>
    <!-- 공통 컬러 -->
    <li><a href="#globalColor"><span>공통 컬러</span></a></li>
    <li>
      <!-- 컴포넌트 -->
      <a href="#components"><span>컴포넌트</span></a>
      <ul class="c-sublist">
        <li><a href="#title"><span>타이틀</span></a></li>
        <li><a href="#button"><span>버튼</span></a></li>
        <li><a href="#tab"><span>탭 메뉴</span></a></li>
        <li><a href="#list"><span>목록</span></a></li>
        <li><a href="#tableForm"><span>테이블</span></a></li>
        <li><a href="#input"><span>인풋</span></a></li>
        <li><a href="#select"><span>셀렉트 박스</span></a></li>
        <li><a href="#checkbox"><span>체크 박스</span></a></li>
        <li><a href="#radio"><span>라디오 버튼</span></a></li>
        <li><a href="#textarea"><span>텍스트에어리어</span></a></li>
      </ul>
    </li>
    <li>
      <!-- 템플릿 -->
      <a href="#templates"><span>템플릿</span></a>
      <ul class="c-sublist">
        <li><a href="#form"><span>폼</span></a></li>
        <li><a href="#infobox"><span>Info 박스</span></a></li>
      </ul>
    </li>
    <li>
      <!-- 유틸리티 클래스 -->
      <a href="#utillClass"><span>유틸리티 클래스</span></a>
      <ul class="c-sublist">
        <li><a href="#display"><span>display</span></a></li>
        <li><a href="#overflow"><span>overflow</span></a></li>
        <li><a href="#float"><span>float</span></a></li>
        <li><a href="#position"><span>position</span></a></li>
        <li><a href="#width"><span>width</span></a></li>
        <li><a href="#height"><span>height</span></a></li>
        <li><a href="#maxWidth"><span>max-width</span></a></li>
        <li><a href="#maxHeight"><span>max-height</span></a></li>
        <li><a href="#margin"><span>margin</span></a></li>
        <li><a href="#padding"><span>padding</span></a></li>
        <li><a href="#font"><span>font</span></a></li>
        <li><a href="#table"><span>table</span></a></li>
        <li><a href="#align"><span>align</span></a></li>
        <li><a href="#verticalAlign"><span>vertical-align</span></a></li>
        <li><a href="#decoration"><span>decoration</span></a></li>
        <li><a href="#boxSizing"><span>box-sizing</span></a></li>
        <li><a href="#objectFit"><span>object-fit</span></a></li>
      </ul>
    </li>
  </ul>
</nav>