@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 100;
	src:url(../fonts/Pretendard-Thin.eot);/* EI9 호환성 보기 */
	src:local('※'),
    url(../fonts/Pretendard-Thin.woff2) format('woff2'),
		url(../fonts/Pretendard-Thin.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 300;
	src:url(../fonts/Pretendard-Light.eot);/* EI9 호환성 보기 */
	src:local('※'),
    url(../fonts/Pretendard-Light.woff2) format('woff2'),
		url(../fonts/Pretendard-Light.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	src:url(../fonts/Pretendard-Regular.eot);/* EI9 호환성 보기 */
	src:local('※'),
    url(../fonts/Pretendard-Regular.woff2) format('woff2'),
		url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	src:url(../fonts/Pretendard-Medium.eot);/* EI9 호환성 보기 */
	src:local('※'),
    url(../fonts/Pretendard-Medium.woff2) format('woff2'),
		url(../fonts/Pretendard-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	src:url(../fonts/Pretendard-SemiBold.eot);/* EI9 호환성 보기 */
	src:local('※'),
    url(../fonts/Pretendard-SemiBold.woff2) format('woff2'),
		url(../fonts/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	src:url(../fonts/Pretendard-Bold.eot);/* EI9 호환성 보기 */
	src:local('※'),
    url(../fonts/Pretendard-Bold.woff2) format('woff2'),
		url(../fonts/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 800;
	src:url(../fonts/Pretendard-ExtraBold.eot);/* EI9 호환성 보기 */
	src:local('※'),
    url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'),
		url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 900;
	src:url(../fonts/Pretendard-Black.eot);/* EI9 호환성 보기 */
	src:local('※'),
    url(../fonts/Pretendard-Black.woff2) format('woff2'),
		url(../fonts/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'SUITE';
	font-style: normal;
	font-weight: 300;
	src:local('※'),
    url(../fonts/SUITE-Light.woff2) format('woff2'),
		url(../fonts/SUITE-Light.otf) format('opentype');
}
@font-face {
	font-family: 'SUITE';
	font-style: normal;
	font-weight: 400;
	src:local('※'),
    url(../fonts/SUITE-Regular.woff2) format('woff2'),
		url(../fonts/SUITE-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'SUITE';
	font-style: normal;
	font-weight: 500;
	src:local('※'),
    url(../fonts/SUITE-Medium.woff2) format('woff2'),
		url(../fonts/SUITE-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'SUITE';
	font-style: normal;
	font-weight: 600;
	src:local('※'),
    url(../fonts/SUITE-SemiBold.woff2) format('woff2'),
		url(../fonts/SUITE-SemiBold.otf) format('opentype');
}
@font-face {
	font-family: 'SUITE';
	font-style: normal;
	font-weight: 700;
	src:local('※'),
    url(../fonts/SUITE-Bold.woff2) format('woff2'),
		url(../fonts/SUITE-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'SUITE';
	font-style: normal;
	font-weight: 800;
	src:local('※'),
    url(../fonts/SUITE-ExtraBold.woff2) format('woff2'),
		url(../fonts/SUITE-ExtraBold.otf) format('opentype');
}
@font-face {
	font-family: 'SUITE';
	font-style: normal;
	font-weight: 900;
	src:local('※'),
    url(../fonts/SUITE-Heavy.woff2) format('woff2'),
		url(../fonts/SUITE-Heavy.otf) format('opentype');
}
