// 경로
$imgUrl: '../images';

// color
$point-color1: #329FC8;
$point-color2: #269BFF;
$point-color3: #000;
$point-color4: #669B00;
$point-color5: #F15D12;
$point-color6: #FF4848;

$border-color1: #ddd;
$border-color2: #858585;
$border-color3: #232323;

$bg-color1: #fafafa;
$bg-color2: #f9f9f9;