<h3 class="c-tit">
  <a href="#button" id="button" class="c-tit-link">버튼</a>
</h3>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap10">
      <button type="button" class="btn sm btn1">.btn.sm.btn1<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn sm btn2">.btn.sm.btn2<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn sm btn3">.btn.sm.btn3<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn sm btn4">.btn.sm.btn4<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn sm btn5">.btn.sm.btn5<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn sm btn6">.btn.sm.btn6<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn sm btn7">.btn.sm.btn7<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn sm btn8">.btn.sm.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <a href="#none" class="btn sm btn8">.btn.sm.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></a>
    </div>
  </div>
  <!-- // 실제 코드 -->
  
  <!-- 설명 -->
  <ul class="list type5">
    <li>가장 작은 버튼 / 아이콘 포함 / 텍스트 길이에 따라 width값 변함</li>
    <li>a, button 태그 공통</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap10">
      <button type="button" class="btn sm btn1">.btn.sm.btn1<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn sm btn2">.btn.sm.btn2<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn sm btn3">.btn.sm.btn3<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn sm btn4">.btn.sm.btn4<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn sm btn5">.btn.sm.btn5<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn sm btn6">.btn.sm.btn6<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn sm btn7">.btn.sm.btn7<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn sm btn8">.btn.sm.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <a href="#none" class="btn sm btn8">.btn.sm.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></a>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>
<!-- // c-code-wrap -->

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap10">
      <button type="button" class="btn sm btn1">.btn.sm.btn1</button>
      <button type="button" class="btn sm btn2">.btn.sm.btn2</button>
      <button type="button" class="btn sm btn3">.btn.sm.btn3</button>
      <button type="button" class="btn sm btn4">.btn.sm.btn4</button>
      <button type="button" class="btn sm btn5">.btn.sm.btn5</button>
      <button type="button" class="btn sm btn6">.btn.sm.btn6</button>
      <button type="button" class="btn sm btn7">.btn.sm.btn7</button>
      <button type="button" class="btn sm btn8">.btn.sm.btn8</button>
      <a href="#none" class="btn sm btn8">.btn.sm.btn8</a>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>기본 버튼 / 아이콘 미포함 / 텍스트 길이에 따라 width값 변함 / 게시판버튼 공용</li>
    <li>a, button 태그 공통</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap10">
      <button type="button" class="btn sm btn1">.btn.sm.btn1</button>
      <button type="button" class="btn sm btn2">.btn.sm.btn2</button>
      <button type="button" class="btn sm btn3">.btn.sm.btn3</button>
      <button type="button" class="btn sm btn4">.btn.sm.btn4</button>
      <button type="button" class="btn sm btn5">.btn.sm.btn5</button>
      <button type="button" class="btn sm btn6">.btn.sm.btn6</button>
      <button type="button" class="btn sm btn7">.btn.sm.btn7</button>
      <button type="button" class="btn sm btn8">.btn.sm.btn8</button>
      <a href="#none" class="btn sm btn8">.btn.sm.btn8</a>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>
<!-- // c-code-wrap -->

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap10">
      <button type="button" class="btn btn1">.btn.btn1<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn btn2">.btn.btn2<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn btn3">.btn.btn3<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn btn4">.btn.btn4<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn btn5">.btn.btn5<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn btn6">.btn.btn6<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn btn7">.btn.btn7<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn btn8">.btn.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <a href="#none" class="btn btn8">.btn.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></a>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>기본 버튼 / 아이콘 포함 / 텍스트 길이에 따라 width값 변함</li>
    <li>a, button 태그 공통</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap10">
      <button type="button" class="btn btn1">.btn.btn1<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn btn2">.btn.btn2<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn btn3">.btn.btn3<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn btn4">.btn.btn4<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn btn5">.btn.btn5<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn btn6">.btn.btn6<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn btn7">.btn.btn7<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn btn8">.btn.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <a href="#none" class="btn btn8">.btn.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></a>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>
<!-- // c-code-wrap -->

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap10">
      <button type="button" class="btn btn1">.btn.btn1</button>
      <button type="button" class="btn btn2">.btn.btn2</button>
      <button type="button" class="btn btn3">.btn.btn3</button>
      <button type="button" class="btn btn4">.btn.btn4</button>
      <button type="button" class="btn btn5">.btn.btn5</button>
      <button type="button" class="btn btn6">.btn.btn6</button>
      <button type="button" class="btn btn7">.btn.btn7</button>
      <button type="button" class="btn btn8">.btn.btn8</button>
      <a href="#none" class="btn btn8">.btn.btn8</a>
    </div>
  </div>
  <!-- // 실제 코드 -->
  
  <!-- 설명 -->
  <ul class="list type5">
    <li>기본 버튼 / 아이콘 미포함 / 텍스트 길이에 따라 width값 변함 / 게시판버튼 공용</li>
    <li>a, button 태그 공통</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap10">
      <button type="button" class="btn btn1">.btn.btn1</button>
      <button type="button" class="btn btn2">.btn.btn2</button>
      <button type="button" class="btn btn3">.btn.btn3</button>
      <button type="button" class="btn btn4">.btn.btn4</button>
      <button type="button" class="btn btn5">.btn.btn5</button>
      <button type="button" class="btn btn6">.btn.btn6</button>
      <button type="button" class="btn btn7">.btn.btn7</button>
      <button type="button" class="btn btn8">.btn.btn8</button>
      <a href="#none" class="btn btn8">.btn.btn8</a>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>
<!-- // c-code-wrap -->

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap10">
      <button type="button" class="btn lg btn1">.btn.sm.btn1<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn lg btn2">.btn.sm.btn2<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn lg btn3">.btn.sm.btn3<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn lg btn4">.btn.sm.btn4<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn lg btn5">.btn.sm.btn5<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn lg btn6">.btn.sm.btn6<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn lg btn7">.btn.sm.btn7<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn lg btn8">.btn.sm.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <a href="#none" class="btn lg btn8">.btn.sm.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></a>
    </div>
  </div>
  <!-- // 실제 코드 -->
  
  <!-- 설명 -->
  <ul class="list type5">
    <li>가장 큰 버튼 / 아이콘 포함 / 텍스트 길이에 따라 width값 변함</li>
    <li>a, button 태그 공통</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap10">
      <button type="button" class="btn lg btn1">.btn.sm.btn1<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn lg btn2">.btn.sm.btn2<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn lg btn3">.btn.sm.btn3<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn lg btn4">.btn.sm.btn4<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn lg btn5">.btn.sm.btn5<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <button type="button" class="btn lg btn6">.btn.sm.btn6<i class="fa-light fa-arrow-rotate-left"></i></button>
      <button type="button" class="btn lg btn7">.btn.sm.btn7<i class="fa-light fa-arrow-up-right-from-square"></i></button>
      <button type="button" class="btn lg btn8">.btn.sm.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></button>
      <a href="#none" class="btn lg btn8">.btn.sm.btn8<i class="fa-light fa-arrow-down-to-bracket"></i></a>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>
<!-- // c-code-wrap -->

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap10">
      <button type="button" class="btn lg btn1">.btn.sm.btn1</button>
      <button type="button" class="btn lg btn2">.btn.sm.btn2</button>
      <button type="button" class="btn lg btn3">.btn.sm.btn3</button>
      <button type="button" class="btn lg btn4">.btn.sm.btn4</button>
      <button type="button" class="btn lg btn5">.btn.sm.btn5</button>
      <button type="button" class="btn lg btn6">.btn.sm.btn6</button>
      <button type="button" class="btn lg btn7">.btn.sm.btn7</button>
      <button type="button" class="btn lg btn8">.btn.sm.btn8</button>
      <a href="#none" class="btn lg btn8">.btn.sm.btn8</a>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>가장 큰 버튼 / 아이콘 미포함 / 텍스트 길이에 따라 width값 변함</li>
    <li>a, button 태그 공통</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap10">
      <button type="button" class="btn lg btn1">.btn.sm.btn1</button>
      <button type="button" class="btn lg btn2">.btn.sm.btn2</button>
      <button type="button" class="btn lg btn3">.btn.sm.btn3</button>
      <button type="button" class="btn lg btn4">.btn.sm.btn4</button>
      <button type="button" class="btn lg btn5">.btn.sm.btn5</button>
      <button type="button" class="btn lg btn6">.btn.sm.btn6</button>
      <button type="button" class="btn lg btn7">.btn.sm.btn7</button>
      <button type="button" class="btn lg btn8">.btn.sm.btn8</button>
      <a href="#none" class="btn lg btn8">.btn.sm.btn8</a>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>
<!-- // c-code-wrap -->