<h3 class="c-tit">
  <a href="#checkbox" id="checkbox" class="c-tit-link">체크 박스</a>
</h3>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap30">
      <div class="item_choice check">
        <input type="checkbox" id="check0" name="check">
        <label for="check0">
          <span class="ico_choice"></span>미선택
        </label>
      </div>
      
      <div class="item_choice check">
        <input type="checkbox" id="check1" name="check" checked>
        <label for="check1">
          <span class="ico_choice"></span>선택했을때<br>선택했을때
        </label>
      </div>

      <div class="item_choice check">
        <input type="checkbox" id="check2" name="check">
        <label for="check2">
          <i class="fa-light fa-square"></i>폰트어썸
        </label>
      </div>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>기본 체크박스</li>
    <li>체크박스는 아이콘은 기본 센터 정렬입니다.</li>
    <li>체크, 라디오 공통 클래스는 <strong>.item_choice</strong> 이고 체크박스는 <strong>.check</strong> 클래스 추가하여 사용</li>
    <li>
      폰트어썸 아이콘 사용시 .ico_choice 대신 폰트어썸 아이콘 코드를 삽입
      <ul class="list type6">
        <li>체크시 변경되는 아이콘 커스텀은 <strong>.item_choice.check input:checked + label i</strong> 셀렉터에 font-weight 또는 color값 등으로 커스텀 가능</li>
      </ul>
    </li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap30">
      <div class="item_choice check">
        <input type="checkbox" id="check0" name="check">
        <label for="check0">
          <span class="ico_choice"></span>미선택
        </label>
      </div>
      
      <div class="item_choice check">
        <input type="checkbox" id="check1" name="check" checked>
        <label for="check1">
          <span class="ico_choice"></span>선택했을때<br>선택했을때
        </label>
      </div>

      <div class="item_choice check">
        <input type="checkbox" id="check2" name="check">
        <label for="check2">
          <i class="fa-light fa-square"></i>폰트어썸
        </label>
      </div>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap30">
      <div class="item_choice check top">
        <input type="checkbox" id="check6" name="check">
        <label for="check6">
          <span class="ico_choice"></span>아이콘<br>top
        </label>
      </div>
      
      <div class="item_choice check top">
        <input type="checkbox" id="check7" name="check" checked>
        <label for="check7">
          <span class="ico_choice"></span>아이콘<br>top<br>top
        </label>
      </div>

      <div class="item_choice check top">
        <input type="checkbox" id="check8" name="check">
        <label for="check8">
          <i class="fa-light fa-square"></i>폰트어썸 top<br>폰트어썸 top
        </label>
      </div>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>체크박스 내용이 여러줄일 경우 아이콘 Top 정렬 / <strong>.top</strong> 클래스 추가</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap30">
      <div class="item_choice check top">
        <input type="checkbox" id="check6" name="check">
        <label for="check6">
          <span class="ico_choice"></span>아이콘<br>top
        </label>
      </div>
      
      <div class="item_choice check top">
        <input type="checkbox" id="check7" name="check" checked>
        <label for="check7">
          <span class="ico_choice"></span>아이콘<br>top<br>top
        </label>
      </div>

      <div class="item_choice check top">
        <input type="checkbox" id="check8" name="check">
        <label for="check8">
          <i class="fa-light fa-square"></i>폰트어썸 top<br>폰트어썸 top
        </label>
      </div>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap30">
      <div class="item_choice check right">
        <input type="checkbox" id="check20" name="check">
        <label for="check20">
          아이콘 right<span class="ico_choice"></span>
        </label>
      </div>
      
      <div class="item_choice check right">
        <input type="checkbox" id="check21" name="check" checked>
        <label for="check21">
          아이콘<br>right<br>right<span class="ico_choice"></span>
        </label>
      </div>

      <div class="item_choice check right">
        <input type="checkbox" id="check22" name="check">
        <label for="check22">
          폰트어썸 right<br>폰트어썸 right<i class="fa-light fa-square"></i>
        </label>
      </div>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>체크박스 아이콘이 오른쪽일 경우 <strong>.right</strong> 클래스 추가</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap30">
      <div class="item_choice check right">
        <input type="checkbox" id="check20" name="check">
        <label for="check20">
          아이콘 right<span class="ico_choice"></span>
        </label>
      </div>
      
      <div class="item_choice check right">
        <input type="checkbox" id="check21" name="check" checked>
        <label for="check21">
          아이콘<br>right<br>right<span class="ico_choice"></span>
        </label>
      </div>

      <div class="item_choice check right">
        <input type="checkbox" id="check22" name="check">
        <label for="check22">
          폰트어썸 right<br>폰트어썸 right<i class="fa-light fa-square"></i>
        </label>
      </div>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap30">
      <div class="item_choice check only">
        <input type="checkbox" id="check9" name="check">
        <label for="check9">
          <span class="ico_choice"></span>
        </label>
      </div>
      
      <div class="item_choice check only">
        <input type="checkbox" id="check10" name="check" checked>
        <label for="check10">
          <span class="ico_choice"></span>
        </label>
      </div>

      <div class="item_choice check only">
        <input type="checkbox" id="check11" name="check">
        <label for="check11">
          <i class="fa-light fa-square"></i>
        </label>
      </div>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>문구가 없는 단독 체크박스는 <strong>.only</strong> 클래스 추가</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap30">
      <div class="item_choice check only">
        <input type="checkbox" id="check9" name="check">
        <label for="check9">
          <span class="ico_choice"></span>
        </label>
      </div>
      
      <div class="item_choice check only">
        <input type="checkbox" id="check10" name="check" checked>
        <label for="check10">
          <span class="ico_choice"></span>
        </label>
      </div>

      <div class="item_choice check only">
        <input type="checkbox" id="check11" name="check">
        <label for="check11">
          <i class="fa-light fa-square"></i>
        </label>
      </div>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>