<h3 class="c-tit">
  <a href="#list" id="list" class="c-tit-link">목록</a>
</h3>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap16 reverse">
      <div class="align_wrap gap16">
        <ol class="list">
          <li>1. .list</li>
          <li>2. 숫자가 있는 목록은 ol, 숫자가 없는 목록은 ul</li>
          <li>3. 모든 list의 li 안에 중첩 .list 사용 가능</li>
          <li>4. 일이삼사오육칠팔구십</li>
          <li>5. 일이삼사오육칠팔구십일이삼사오육칠팔구십<br>일이삼사오육칠팔구십일이삼사오육칠팔구십</li>
          <li>
            6. 모든 list의 li 안에 중첩 .list 사용 가능
            <ul class="list type2">
              <li>.list.type2</li>
              <li>.list.type2</li>
              <li>.list.type2</li>
            </ul>
          </li>
          <li>7. 일이삼사오육칠팔구십</li>
          <li>8. 일이삼사오육칠팔구십</li>
        </ol>
      </div>

      <div class="align_wrap gap16">
        <ul class="list type1">
          <li>.list.type1</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
        <ul class="list type2">
          <li>.list.type2</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
        <ul class="list type3">
          <li>.list.type3</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
      </div>

      <div class="align_wrap gap16">
        <ul class="list type4">
          <li>.list.type4</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
        <ul class="list type5">
          <li>.list.type5</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
        <ul class="list type6">
          <li>.list.type6</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <!-- <li></li> -->
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap16 reverse">
      <div class="align_wrap gap16">
        <ol class="list">
          <li>1. .list</li>
          <li>2. 숫자가 있는 목록은 ol, 숫자가 없는 목록은 ul</li>
          <li>3. 모든 list의 li 안에 중첩 .list 사용 가능</li>
          <li>4. 일이삼사오육칠팔구십</li>
          <li>5. 일이삼사오육칠팔구십일이삼사오육칠팔구십<br>일이삼사오육칠팔구십일이삼사오육칠팔구십</li>
          <li>
            6. 모든 list의 li 안에 중첩 .list 사용 가능
            <ul class="list type2">
              <li>.list.type2</li>
              <li>.list.type2</li>
              <li>.list.type2</li>
            </ul>
          </li>
          <li>7. 일이삼사오육칠팔구십</li>
          <li>8. 일이삼사오육칠팔구십</li>
        </ol>
      </div>

      <div class="align_wrap gap16">
        <ul class="list type1">
          <li>.list.type1</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
        <ul class="list type2">
          <li>.list.type2</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
        <ul class="list type3">
          <li>.list.type3</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
      </div>

      <div class="align_wrap gap16">
        <ul class="list type4">
          <li>.list.type4</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
        <ul class="list type5">
          <li>.list.type5</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
        <ul class="list type6">
          <li>.list.type6</li>
          <li>li 스타일은 총 6개 기본 p 스타일을 그대로 사용합니다.</li>
          <li>도트 스타일과 대시 스타일 2종류에 색상별로 6개 입니다.</li>
          <li>콘텐츠 등록시 li안에 ul li를 넣어 사용함에 이질감이 없도록 합니다.</li>
        </ul>
      </div>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>