<h3 class="c-tit">
  <a href="#radio" id="radio" class="c-tit-link">라디오 버튼</a>
</h3>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap30">
      <div class="item_choice radio">
        <input type="radio" id="radio0" name="radio0">
        <label for="radio0">
          <span class="ico_choice"></span>미선택
        </label>
      </div>

      <div class="item_choice radio">
        <input type="radio" id="radio1" name="radio0" checked>
        <label for="radio1">
          <span class="ico_choice"></span>선택했을때<br>선택했을때
        </label>
      </div>

      <div class="item_choice radio">
        <input type="radio" id="radio2" name="radio0">
        <label for="radio2">
          <i class="fa-light fa-circle"></i>폰트어썸
        </label>
      </div>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>기본 라디오</li>
    <li>라디오 버튼 아이콘은 기본 센터 정렬입니다.</li>
    <li>체크, 라디오 공통 클래스는 <strong>.item_choice</strong> 이고 라디오 버튼은 <strong>.radio</strong> 클래스 추가하여 사용</li>
    <li>
      폰트어썸 아이콘 사용시 .ico_choice 대신 폰트어썸 아이콘 코드를 삽입
      <ul class="list type6">
        <li>체크시 변경되는 아이콘 커스텀은 <strong>.item_choice.radio input:checked + label i</strong> 셀렉터에 font-weight 또는 color값 등으로 커스텀 가능</li>
      </ul>
    </li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap30">
      <div class="item_choice radio">
        <input type="radio" id="radio6" name="radio2">
        <label for="radio6">
          <span class="ico_choice"></span>미선택
        </label>
      </div>

      <div class="item_choice radio">
        <input type="radio" id="radio7" name="radio2" checked>
        <label for="radio7">
          <span class="ico_choice"></span>선택했을때<br>선택했을때
        </label>
      </div>

      <div class="item_choice radio">
        <input type="radio" id="radio8" name="radio2">
        <label for="radio8">
          <i class="fa-light fa-circle"></i>폰트어썸
        </label>
      </div>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap30">
      <div class="item_choice radio top">
        <input type="radio" id="radio12" name="radio4">
        <label for="radio12">
          <span class="ico_choice"></span>아이콘<br>top
        </label>
      </div>
      
      <div class="item_choice radio top">
        <input type="radio" id="radio13" name="radio4" checked>
        <label for="radio13">
          <span class="ico_choice"></span>아이콘<br>top<br>top
        </label>
      </div>

      <div class="item_choice radio top">
        <input type="radio" id="radio14" name="radio4">
        <label for="radio14">
          <i class="fa-light fa-circle"></i>폰트어썸 top<br>폰트어썸 top
        </label>
      </div>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>라디오 버튼 내용이 여러줄일 경우 아이콘 Top 정렬 / <strong>.top</strong> 클래스 추가</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap30">
      <div class="item_choice radio top">
        <input type="radio" id="radio15" name="radio5">
        <label for="radio15">
          <span class="ico_choice"></span>아이콘<br>top
        </label>
      </div>
      
      <div class="item_choice radio top">
        <input type="radio" id="radio16" name="radio5" checked>
        <label for="radio16">
          <span class="ico_choice"></span>아이콘<br>top<br>top
        </label>
      </div>

      <div class="item_choice radio top">
        <input type="radio" id="radio17" name="radio5">
        <label for="radio17">
          <i class="fa-light fa-circle"></i>폰트어썸 top<br>폰트어썸 top
        </label>
      </div>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap30">
      <div class="item_choice radio right">
        <input type="radio" id="radio30" name="radio30">
        <label for="radio30">
          아이콘 right<span class="ico_choice"></span>
        </label>
      </div>
      
      <div class="item_choice radio right">
        <input type="radio" id="radio31" name="radio30" checked>
        <label for="radio31">
          아이콘<br>right<br>right<span class="ico_choice"></span>
        </label>
      </div>

      <div class="item_choice radio right">
        <input type="radio" id="radio32" name="radio30">
        <label for="radio32">
          폰트어썸 right<br>폰트어썸 right<i class="fa-light fa-circle"></i>
        </label>
      </div>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>라디오 버튼 아이콘이 오른쪽일 경우 <strong>.right</strong> 클래스 추가</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap30">
      <div class="item_choice radio right">
        <input type="radio" id="radio33" name="radio31">
        <label for="radio33">
          아이콘 right<span class="ico_choice"></span>
        </label>
      </div>
      
      <div class="item_choice radio right">
        <input type="radio" id="radio34" name="radio31" checked>
        <label for="radio34">
          아이콘<br>right<br>right<span class="ico_choice"></span>
        </label>
      </div>

      <div class="item_choice radio right">
        <input type="radio" id="radio35" name="radio31">
        <label for="radio35">
          폰트어썸 right<br>폰트어썸 right<i class="fa-light fa-circle"></i>
        </label>
      </div>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap30">
      <div class="item_choice radio only">
        <input type="radio" id="radio18" name="radio6">
        <label for="radio18">
          <span class="ico_choice"></span>
        </label>
      </div>
      
      <div class="item_choice radio only">
        <input type="radio" id="radio19" name="radio6" checked>
        <label for="radio19">
          <span class="ico_choice"></span>
        </label>
      </div>

      <div class="item_choice radio top">
        <input type="radio" id="radio20" name="radio6">
        <label for="radio20">
          <i class="fa-light fa-circle"></i>
        </label>
      </div>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>문구가 없는 단독 라디오 버튼은 <strong>.only</strong> 클래스 추가</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap30">
      <div class="item_choice radio only">
        <input type="radio" id="radio21" name="radio7">
        <label for="radio21">
          <span class="ico_choice"></span>
        </label>
      </div>
      
      <div class="item_choice radio only">
        <input type="radio" id="radio22" name="radio7" checked>
        <label for="radio22">
          <span class="ico_choice"></span>
        </label>
      </div>
      
      <div class="item_choice radio top">
        <input type="radio" id="radio23" name="radio7">
        <label for="radio23">
          <i class="fa-light fa-circle"></i>
        </label>
      </div>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>