<h3 class="c-tit">
  <a href="#select" id="select" class="c-tit-link">셀렉트 박스</a>
</h3>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap10">
      <div class="opt_comm">
        <select name="opt" id="opt0" title="연결할 label 태그가 없다면 title 속성은 필수로 넣어주세요.">
          <option value="0" selected="selected" disabled="disabled">내용을 선택하세요. 일이삼사오육칠팔구십일이삼사오육칠팔구십</option>
          <option value="1">내용 1</option>
          <option value="2">내용 2</option>
        </select>
        <i class="fa-solid fa-sort-down"></i>
      </div>
      <div class="opt_comm">
        <select name="opt" id="opt1" title="연결할 label 태그가 없다면 title 속성은 필수로 넣어주세요." disabled>
          <option value="0" selected="selected" disabled="disabled">비활성화 일이삼사오육칠팔구십일이삼사오육칠팔구십</option>
          <option value="1">내용 1</option>
          <option value="2">내용 2</option>
        </select>
        <i class="fa-solid fa-sort-down"></i>
      </div>
    </div>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>기본 너비 250px / 내용 길어질 시 말줄임 처리됨</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap10">
      <div class="opt_comm">
        <select name="opt" id="opt0" title="연결할 label 태그가 없다면 title 속성은 필수로 넣어주세요.">
          <option value="0" selected="selected" disabled="disabled">내용을 선택하세요. 일이삼사오육칠팔구십일이삼사오육칠팔구십</option>
          <option value="1">내용 1</option>
          <option value="2">내용 2</option>
        </select>
        <i class="fa-solid fa-sort-down"></i>
      </div>
      <div class="opt_comm">
        <select name="opt" id="opt1" title="연결할 label 태그가 없다면 title 속성은 필수로 넣어주세요." disabled>
          <option value="0" selected="selected" disabled="disabled">비활성화 일이삼사오육칠팔구십일이삼사오육칠팔구십</option>
          <option value="1">내용 1</option>
          <option value="2">내용 2</option>
        </select>
        <i class="fa-solid fa-sort-down"></i>
      </div>
    </div>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>