<h3 class="c-tit">
  <a href="#tab" id="tab" class="c-tit-link">탭 메뉴</a>
</h3>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="tab_comm">
      <a href="#none" role="button" class="tit_tab" title="탭 선택됨"></a>
      <ul role="tablist" class="list_tab">
        <li role="none">
          <a href="#none" role="tab" class="btn tab" aria-selected="true">.btn.tab<br>aria-selected="true"</a>
        </li>
        <li role="none">
          <a href="#none" role="tab" class="btn tab" aria-selected="false">.btn.tab<br>aria-selected="false"</a>
        </li>
        <li role="none">
          <a href="#none" role="tab" class="btn tab" aria-selected="false">.btn.tab</a>
        </li>
        <li role="none">
          <a href="#none" role="tab" class="btn tab" aria-selected="false">.btn.tab</a>
        </li>
        <li role="none">
          <a href="#none" role="tab" class="btn tab" aria-selected="false">.btn.tab</a>
        </li>
      </ul>
    </div>
    <!-- // tab_comm -->
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>페이지내 4뎁스 버튼 / width: 246px, height: 60px 고정 / 간격 10px</li>
    <li>a, button 태그 공통</li>
    <li>role 및 aria 속성을 사용하여 스크린 리더기에서 선택된 탭 메뉴 인식 가능하도록 작성</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="tab_comm">
      <a href="#none" role="button" class="tit_tab" title="탭 선택됨"></a>
      <ul role="tablist" class="list_tab">
        <li role="none">
          <a href="#none" role="tab" class="btn tab" aria-selected="true">.btn.tab<br>aria-selected="true"</a>
        </li>
        <li role="none">
          <a href="#none" role="tab" class="btn tab" aria-selected="false">.btn.tab<br>aria-selected="false"</a>
        </li>
        <li role="none">
          <a href="#none" role="tab" class="btn tab" aria-selected="false">.btn.tab</a>
        </li>
        <li role="none">
          <a href="#none" role="tab" class="btn tab" aria-selected="false">.btn.tab</a>
        </li>
        <li role="none">
          <a href="#none" role="tab" class="btn tab" aria-selected="false">.btn.tab</a>
        </li>
      </ul>
    </div>
    <!-- // tab_comm -->
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>
<!-- // c-code-wrap -->