<h3 class="c-tit">
  <a href="#title" id="title" class="c-tit-link">타이틀</a>
</h3>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <h3>H3 Extrabold 40px / 50px #000 페이지 타이틀</h3>
    <h4>H4 Extrabold 26px / 31px #000 페이지 타이틀</h4>
    <h5>H5 Bold 24px / 29px #2F51B2 페이지 타이틀</h5>
    <h6><span class="ico_bullet"></span>H6 Bold 22px / 26px #000 페이지타이틀</h6>
    <p>
      기본 p 스타일 : #575757 16px / 22px Regular<br>
      홈페이지내에 특별한 경우를 제외하고 모든 텍스트는 이 스타일로 작성합니다.<br>
      추후 퍼블리싱 후 브라우저에서 확인 후 수정이 있을 수 있습니다.
    </p>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>h3, h4, h5, h6 태그를 이용한 타이틀 스타일</li>
    <li>헤딩 태그 안에 아이콘은 모두 타이틀의 첫번째 줄에 맞춤 정렬(baseline) / 글자와 간격 5px</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <h3>H3 Extrabold 36px / 43px #000 페이지 타이틀</h3>
    <h4>H4 Extrabold 30px / 36px #000 페이지 타이틀</h4>
    <h5>H5 Bold 22px / 31px #0B4E85 페이지 타이틀</h5>
    <h6><span class="ico_bullet"></span>H6 Bold 22px / 26px #279FF3 페이지타이틀</h6>
    <p>
      기본 p 스타일 : #575757 18px / 24px Regular<br>
      홈페이지내에 특별한 경우를 제외하고 모든 텍스트는 이 스타일로 작성합니다.<br>
      추후 퍼블리싱 후 브라우저에서 확인 후 수정이 있을 수 있습니다.
    </p>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>
<!-- // c-code-wrap -->