<h3 class="c-tit">
  <a href="#title" id="title" class="c-tit-link">타이틀</a>
</h3>

<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <h3>H3 Extrabold 40px / 50px #000 페이지 타이틀</h3>
    <strong class="tit_type1">strong.tit_type1 Extrabold 26px / 31px #000 페이지 타이틀 (기존 h4)</strong>
    <strong class="tit_type2">strong.tit_type2 Bold 24px / 29px #2F51B2 페이지 타이틀 (기존 h5)</strong>
    <strong class="tit_type3"><span class="ico_bullet"></span>strong.tit_type3 Bold 22px / 26px #000 페이지타이틀 (기존 h6)</strong>
    <p>
      기본 p 스타일 : #575757 16px / 22px Regular<br>
      홈페이지내에 특별한 경우를 제외하고 모든 텍스트는 이 스타일로 작성합니다.<br>
      추후 퍼블리싱 후 브라우저에서 확인 후 수정이 있을 수 있습니다.
    </p>
  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>h3 태그, .tit_type1, .tit_type2, .tit_type3 클래스를 이용한 타이틀 스타일</li>
    <li>헤딩 태그 안에 아이콘은 모두 타이틀의 첫번째 줄에 맞춤 정렬(baseline) / 글자와 간격 5px</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <h3>H3 Extrabold 40px / 50px #000 페이지 타이틀</h3>
    <strong class="tit_type1">strong.tit_type1 Extrabold 26px / 31px #000 페이지 타이틀 (기존 h4)</strong>
    <strong class="tit_type2">strong.tit_type2 Bold 24px / 29px #2F51B2 페이지 타이틀 (기존 h5)</strong>
    <strong class="tit_type3"><span class="ico_bullet"></span>strong.tit_type3 Bold 22px / 26px #000 페이지타이틀 (기존 h6)</strong>
    <p>
      기본 p 스타일 : #575757 16px / 22px Regular<br>
      홈페이지내에 특별한 경우를 제외하고 모든 텍스트는 이 스타일로 작성합니다.<br>
      추후 퍼블리싱 후 브라우저에서 확인 후 수정이 있을 수 있습니다.
    </p>
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>
<!-- // c-code-wrap -->