.inp_comm{display: inline-flex;width: 300px;height: 45px;padding:12px 17px;border-radius: 3px;border:1px solid #858585;font-size: 16px;line-height: 19px;color: #232323;box-sizing: border-box;vertical-align: top}
.inp_comm::-webkit-input-placeholder{opacity: .38}
.inp_comm::-webkit-input-placeholder{opacity: .38}
.inp_comm::-moz-placeholder{opacity: .38}
.inp_comm:-ms-input-placeholder{opacity: .38}
.inp_comm:-moz-placeholder{opacity: .38}
.inp_comm:focus{border-color: #232323}
.inp_comm:disabled, .inp_comm[disabled]{border-color: #ddd;color: #858585;background-color: #f9f9f9}
.date_comm{position: relative;color:#232323}
.date_comm input{display: inline-flex;position: relative;width: 170px;height: 45px;padding: 12px 17px;border:1px solid #858585;border-radius: 3px;font-size: 16px;line-height: 19px;color: #232323;background-color: #fff;vertical-align: top;box-sizing: border-box}
.date_comm input:disabled, .date_comm input[disabled]{border-color: #ddd;color: #858585;background-color: #f9f9f9}
.date_comm input:disabled + i, .date_comm input[disabled] + i{color:#858585}
.date_comm input::-webkit-calendar-picker-indicator {position: absolute;z-index: 1;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0);color: rgba(0,0,0,0);cursor: pointer}
.date_comm i{position: absolute;top:50%;right:14px;transform: translateY(-50%);pointer-events: none}
.file_comm{display:flex;gap:10px;position: relative}
.file_comm label{min-width: 80px;border-radius: 3px}
.file_comm input[type=file]:focus-visible ~ label{outline:#265DC5 auto 1px}
.file_comm input[type=file]{position: absolute;top:0;left:0;z-index:-10;width:1px;height:1px;padding:0;border:0;opacity: 0.001;cursor: pointer;clip:rect(0 0 0 0);margin:-1px;overflow:hidden}
.file_comm .inp_comm{overflow:hidden;text-overflow:ellipsis}