.align_wrap .list + .list{padding-top: 0}
.list li{padding-left: 22px;font-size: 16px;line-height: 24px;color: #575757;text-indent: -22px}
.list + .list{padding-top: 20px}
.list[class*=type]{position: relative}
.list[class*=type] > li{position: relative;padding-left: 14px;text-indent: 0}
.list[class*=type] > li:before{position: absolute;top: 9px;left: 0;width: 6px;content: ""}
.list.type1 > li:before{height: 6px;border-radius: 50%;background-color: #269bff}
.list.type2 > li:before{height: 6px;border-radius: 50%;background-color: #000}
.list.type3 > li:before{height: 6px;border-radius: 50%;background-color: #b4b4b4}
.list.type4 > li:before{top: 11px;height: 2px;background-color: #269bff}
.list.type5 > li:before{top: 11px;height: 2px;background-color: #000}
.list.type6 > li:before{top: 11px;height: 2px;background-color: #b4b4b4}