.tbl_comm{width: 100%;border-top: 1px solid #858585;border-bottom: 1px solid #ddd;border-spacing: 0;border-collapse: collapse;table-layout: fixed;word-break: break-all;word-wrap: break-word}
.tbl_comm th[colspan] + th{border-left: 1px solid #ddd}
.tbl_comm th, .tbl_comm td{padding: 8px 14px;height: 58px;border-right: 1px solid #ddd;box-sizing: border-box}
.tbl_comm th:last-child, .tbl_comm td:last-child{border-right: 0}
.tbl_comm th:last-child[rowspan], .tbl_comm td:last-child[rowspan]{border-left: 1px solid #ddd}
.tbl_comm th{border-bottom: 1px solid #ddd;font-weight: 500;color: #232323;background-color: #f9f9f9}
.tbl_comm td{border-top: 1px solid #ddd;color: #616161;text-align: center}
.tbl_comm.td_left td{text-align: left}
.tbl_comm.td_right td{text-align: right}
.tbl_comm tr:first-child td{border-top: 0}
.tbl_comm.type2{border-top-color: #005ead}
.tbl_comm.type2 th{background-color: #f8fcff}
.tbl_comm.type_noline th, .tbl_comm.type_noline td {border-right: none}