<%#
  {
    'group': '그룹 1',
    'depth': '1. 홈__1. 기본 레이아웃'
  }
#%>

<%#
  class : tr 클래스명 (point_add(추가), point_update(수정), point_remove(삭제))
  group : 구분 가능한 그룹명
  depth : 뎁스 이름(각각의 뎁스는 __ 로 구분 가능)
  comments : 비고
%>

<%
  const depth = 1;
  const thumbImg = (sizeX = 200, sizeY = 200) => `https://placehold.co/${sizeX}x${sizeY}`;
  const _src = '../'.repeat(depth + 1);
  const _components = _src + 'components';
  const _images = _src + 'images';
%>

<!DOCTYPE html>
<html lang="ko">
<head>
<%- include(
  `../layout/_head`,
  {
    title: '기본 레이아웃',
    _src
  }
) %>
</head>
<body>
<!-- 웹접근성용 바로가기 링크 모음 -->
<div class="direct-link">
  <a href="#mainContent">본문 바로가기</a>
  <a href="#gnbContent">메뉴 바로가기</a>
</div>
<div class="container-doc">
  <%- include('../layout/_header') %>
  <hr class="hide">
  
  <main id="mainContent">
    <h2>메인</h2>
    <img src="<%= thumbImg(250, 250) %>" alt="">
  </main>
  
  <hr class="hide">
  <%- include( '../layout/_footer') %>
</div>
</body>
</html>