<%#
  {
    'group': '그룹 1',
    'depth': '01. 홈__01. 심플레이아웃'
  }
#%>
<%#
  class : tr 클래스명 (point_add(추가), point_update(수정), point_remove(삭제))
  group : 구분 가능한 그룹명
  depth : 뎁스 이름(각각의 뎁스는 __ 로 구분 가능)
  comments : 비고
%>
<%
  const depth = 1;
  const thumbImg = (sizeX = 200, sizeY = 200) => `http://via.placeholder.com/${sizeX}x${sizeY}`;
  const _src = '../'.repeat(depth + 1);
  const _components = _src + 'components/';
%>

<!DOCTYPE html>
<html lang="ko">
<head>
<%- include(
  `${_components}_head`,
  {
    title: '심플 레이아웃',
    _src
  }
) %>
</head>
<body>
<div class="container-doc">
  <%- include(_components + '_header_simple') %>

  <main class="doc-main">
    <article class="content-article">
      <h2>제목</h2>
      <img src="<%= thumbImg(100, 200) %>" alt="">
    </article>
  </main>

  <%- include(_components + '_footer') %>
</div>
</body>
</html>