<p>아이콘은 Font Awesome 6.1.1 버전을 사용합니다.</p>
<div class="c-code-wrap">
  <!-- 실제 코드 -->
  <div class="c-code-box">
    <div class="align_wrap gap10 reverse">
      <div class="align_wrap gap10">
        <div class="align_wrap reverse gap10">
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-thin fa-house"></i>
            <i class="fa-thin fa-arrow-left"></i>
            <i class="fa-thin fa-magnifying-glass"></i>
          </div>
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-light fa-house"></i>
            <i class="fa-light fa-arrow-left"></i>
            <i class="fa-light fa-magnifying-glass"></i>
          </div>
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-regular fa-house"></i>
            <i class="fa-regular fa-arrow-left"></i>
            <i class="fa-regular fa-magnifying-glass"></i>
          </div>
        </div>
  
        <div class="align_wrap reverse gap10">
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-duotone fa-house"></i>
            <i class="fa-duotone fa-arrow-left"></i>
            <i class="fa-duotone fa-magnifying-glass"></i>
          </div>
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-sharp fa-solid fa-house"></i>
            <i class="fa-sharp fa-regular fa-arrow-right fa-rotate-180"></i>
            <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
          </div>
        </div>
      </div>

      <div class="align_wrap gap10 fs26 color3">
        <i class="fa-brands fa-node"></i>
        <i class="fa-brands fa-amazon"></i>
        <i class="fa-brands fa-html5"></i>
        <i class="fa-brands fa-css3"></i>
        <i class="fa-brands fa-git-alt"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-apple"></i>
        <i class="fa-brands fa-windows"></i>
        <i class="fa-brands fa-chrome"></i>
      </div>
    </div>
    <!-- // align_wrap -->

  </div>
  <!-- // 실제 코드 -->

  <!-- 설명 -->
  <ul class="list type5">
    <li>color 값으로 색상 조정</li>
    <li>font-size 값으로 크기 조정</li>
    <li>thin, light, regular, solid, duotone, sharp, brands 등의 폰트 종류 사용 가능</li>
  </ul>
  <!-- // 설명 -->

  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">코드 보기</button>
  <pre><code class="lang-html">
    <div class="align_wrap gap10 reverse">
      <div class="align_wrap gap10">
        <div class="align_wrap reverse gap10">
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-thin fa-house"></i>
            <i class="fa-thin fa-arrow-left"></i>
            <i class="fa-thin fa-magnifying-glass"></i>
          </div>
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-light fa-house"></i>
            <i class="fa-light fa-arrow-left"></i>
            <i class="fa-light fa-magnifying-glass"></i>
          </div>
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-regular fa-house"></i>
            <i class="fa-regular fa-arrow-left"></i>
            <i class="fa-regular fa-magnifying-glass"></i>
          </div>
        </div>
  
        <div class="align_wrap reverse gap10">
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-duotone fa-house"></i>
            <i class="fa-duotone fa-arrow-left"></i>
            <i class="fa-duotone fa-magnifying-glass"></i>
          </div>
          <div class="align_wrap gap10 fs26 color3">
            <i class="fa-sharp fa-solid fa-house"></i>
            <i class="fa-sharp fa-regular fa-arrow-right fa-rotate-180"></i>
            <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
          </div>
        </div>
      </div>

      <div class="align_wrap gap10 fs26 color3">
        <i class="fa-brands fa-node"></i>
        <i class="fa-brands fa-amazon"></i>
        <i class="fa-brands fa-html5"></i>
        <i class="fa-brands fa-css3"></i>
        <i class="fa-brands fa-git-alt"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-apple"></i>
        <i class="fa-brands fa-windows"></i>
        <i class="fa-brands fa-chrome"></i>
      </div>
    </div>
    <!-- // align_wrap -->
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>
<!-- // c-code-wrap -->