<p class="c-desc">
  <strong>UI 컴포넌트 가이드</strong><br>
  컴포넌트는 작은 UI 단위의 집합 개념으로, 코드의 재사용성을 높여서 빠르고 편리하게 퍼블리싱 작업을 진행할 수 있게 합니다.
  
  <span class="block pt30">
    <strong>최신 CSS</strong> : <a href="../../css/style_compo_231114.css" target="_blank" class="underline color2">style_compo_231114.css</a>
  </span>
  <strong>CSS는 버전별로 관리합니다.</strong>
</p>

<div class="c-code-wrap">
  <!-- 코드 하이라이트 -->
  <button type="button" class="c-btn-toggle">버전 히스토리</button>
  <pre><code class="lang-html">
    - 23.11.14 : 프로젝트 구조 간소화
    - 23.11.13 : 프로젝트 구조 변경 및 컴포넌트 수정
      - title 스타일 수정
      - table .td_left, .td_right 기능 추가
      - tab 클래스 네이밍 수정 .btn.depth &gt; .btn.tab
      - input file 작업중
      - infobox title 수정
    - 23.11.03 : input date, select, table border 모바일 이슈 수정
    - 23.11.01 : suite 폰트 추가, &lsquo;style_compo_...&rsquo;로 컴포넌트 css 네이밍 수정
    - 23.10.31 : 아이콘 카테고리 추가, 공통 컬러 모바일 대응 보완, 체크,라디오버튼 폰트 어썸 아이콘 교체, 누락됐던 gap6, gap8 추가, css utill 클래스에 모두 !important 추가
    - 23.10.30 : gap32 부터 gap50까지 추가, 헤딩 태그 아이콘 추가, .align_wrap.reverse, .infobox 설계 수정, 주요 color값 변수처리
  </code></pre>
  <!-- // 코드 하이라이트 -->
</div>