<%#
  {
    'group': '그룹 1',
    'depth': '01. 홈_04. parent'
  }
#%>
<%#
  class : tr 클래스명 (point_add(추가), point_update(수정), point_remove(삭제))
  group : 구분 가능한 그룹명
  depth : 뎁스 이름(각각의 뎁스는 _ 로 구분 가능)
  comments : 비고
%>
<% const depth = 1 %>
<% const thumbImg = (sizeX = 200, sizeY = 200) => `http://via.placeholder.com/${sizeX}x${sizeY}`; %>
<% const folderCompo = '../'.repeat(depth + 2) + 'templates/components/' %><%# include components 경로  %>
<% const src = '../'.repeat(depth + 1) %>

<!DOCTYPE html>
<html lang="ko">
<head>
<%- include(
  `${folderCompo}_head`,
  { title: '부모 컴포넌트' }
) %>
</head>
<body>
<div class="container-doc">
  <h1>Parent components</h1>
  <%- include(folderCompo + '_child', {
    depth
  }) %>
  <div class="ico_comm ico_img_baseballbot">야구공</div>
  <div class="ico_comm ico_img_fanwidget5">별</div>
  <div class="ico_comm ico_img_qrcode">qr 코드</div>
  <div class="ico_comm ico_sample_48_48">태극기</div>
  <div class="ico_comm ico_sample_adlogo">폭스바겐</div>
  <div class="ico_comm ico_sample_flag">독일</div>
</div>
</body>
</html>