<header class="doc-header">
  <h1 class="doc-title">
    <a href="#none">{서비스명}</a>
  </h1>

  <strong class="screen_out">관련 서비스</strong>
  <ul class="doc-relate">
    <li><a href="#none">{관련 서비스들1}</a></li>
    <li><a href="#none">{관련 서비스들2}</a></li>
  </ul>

  <nav id="gnbContent" class="doc-gnb"> <!-- gnbContent 메뉴 바로가기 링크 -->
    <h2 class="screen_out">{서비스명} 메인메뉴</h2>
    <ul>
      <li><a href="#none">{메인메뉴1}</a></li>
      <li><a href="#none">{메인메뉴2}</a></li>
    </ul>
  </nav>
</header>