<% const _src = locals._src || '../' %>

<!-- card -->
<div class="card_comm">
  <h2>Card components</h2>
  <div class="wrap_thumb">
    <!-- img -->
    <img src="https://picsum.photos/200/300" width="100" height="150" alt="">
    <!-- // img -->
  </div>
  <div class="cont_thumb">
    <strong class="tit_thumb">일이삼사오육칠팔구십<img src="<%= _src %>images/symbol_kakaotvlive.png" width="12" height="12" alt=""></strong>
    <p class="desc_thumb">
      일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십
    </p>
    <div class="info_thumb">2023.03.26</div>
  </div>
</div>
<!-- // card -->