<!-- header -->
<header class="doc-header">
  <h1 class="doc-title">
    <a href="#none">서비스명</a>
  </h1>
  <nav id="gnbContent">
    <ul>
      <% for( let i = 0; i < 5; i++ ) { %>
        <li><a href="#none">메뉴 <%= i + 1 %></a></li>
      <% } %>
    </ul>
  </nav>
</header>
<!-- // header -->