<div class="xxx_layer xxx_layer1">
  <div class="inner_layer">
    <div class="layer_head">
      <strong>{ 레이어 제목 }</strong>
    </div>
    <div class="layer_body">
      { 레이어 본문 }
    </div>
    <div class="layer_foot">
    </div>
    <a href="#none">닫기</a>
  </div>
</div>