.align_wrap{display: flex;flex-wrap: wrap;align-items: center}
.align_wrap.reverse{flex-wrap: nowrap;flex-direction: column;align-items: normal}
.form_wrap{overflow: hidden;border-top: 1px solid #858585;border-bottom: 1px solid #858585}
.form_wrap dl{display: flex}
.form_wrap dl dt,.form_wrap dl dd{box-sizing: border-box;font-size: 16px;line-height: 19px}
.form_wrap dl dt{flex: 0 0 243px;display: flex;padding: 27px 14px;font-weight: 500;color: #232323}
.form_wrap dl dd{flex: 1;padding: 14px 14px 14px 0;line-height: 45px}
.form_wrap dl + dl{border-top: 1px solid #ddd}

@media only screen and (max-width: 768px){
  .form_wrap dl{flex-direction:column}
  .form_wrap dl dt{flex-basis: auto;padding-bottom: 10px;padding-left: 0;border-bottom: 1px solid #ddd}
}